/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

.one h4{
    font-family: 'Caveat', cursive;
    background-image: url(images/flower-1.jpg);
    box-shadow: 5px 5px 80px greenyellow;
    border-radius: 15px;
    background-size: cover;
    font-size: 6.5vw;
    margin: 20px 40px;
    text-align: center;
    padding: 40px 20px;
}